- @page_title = "About"
.jumbotron.mt-4
  %h1.display-4= @page_title
  %p.lead
    = @page_message
    \.
  %hr.my-4/
  %p A web-application to provide ease of accessibility to manage and maintain diagnostic reports.
  Developed by
  %a.btn.btn-primary.btn-lg.btn-outline{:href => "https://www.keshavbiswa.herokuapp.com", :role => "button"} Keshav Biswa
