<% @page_title = "About" %>
<div class="jumbotron">
  <h1 class="display-4"><%= @page_title %></h1>
  <p class="lead"><%= @page_message %>.</p>
  <hr class="my-4">
  <p>A web-application to provide ease of accessibility to manage and maintain diagnostic reports.</p>
  Developed by <a class="btn btn-primary btn-lg btn-outline" href="https://www.keshavbiswa.herokuapp.com" role="button">Keshav Biswa</a>
</div>